<nav>
  <div class="nav-wrapper teal lighten-3">
    <a href="javascript:void(0);" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right">
      <li>
        <a href="javascript:void(0);" (click)="onAddNote()">
          <i class="material-icons">add</i>
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="row height-100">
  <div class="col s3 height-100">
    <div class="collection">
      <a href="javascript:void(0);" 
        class="collection-item" 
        *ngFor="let note of notes" 
        (click)="onNoteSelect(note)" 
        [ngClass]="{'active': note.id === selectedNote.id }"
        (mouseenter)="hoverId = note.id"
        (mouseleave)="hoverId = 0"> {{note.name}} 
        
        <i class="material-icons right" 
          *ngIf="hoverId === note.id" 
           (click)="onNoteEdit(note)">edit</i></a>
    </div>
  </div>
  <div class="col s9 height-100">
    <textarea *ngIf="!isAddNote && !isEditNote"
      [(ngModel)]="selectedNote.content" 
      (keyup)="onTextUpdate()" 
      class="materialize-textarea height-100"></textarea>

      <div class="row" *ngIf="isAddNote" >
        <input placeholder="Note name" type="text" [(ngModel)]="noteName">
        <a (click)="saveAddNote()" class="waves-effect waves-light btn">Save</a>
        <a (click)="cancelAddNote()" class="waves-effect waves-light btn">Cancel</a>
      </div>

      <div class="row" *ngIf="isEditNote" >
        <input placeholder="Note name" type="text" [(ngModel)]="editNote.name">
        <a (click)="saveEditNote()" class="waves-effect waves-light btn">Save</a>
        <a (click)="cancelEditNote()" class="waves-effect waves-light btn">Cancel</a>
      </div>
    
  </div>

</div>